# See https://pre-commit.com for more information
default_language_version:
  python: python3
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '(notebooks|attic|benchmark|testdata)/.*'
      - id: end-of-file-fixer
        exclude: LICENSE
      - id: check-toml
      - id: check-added-large-files
        args:
          - '--maxkb=1024000'
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
        args:
          - '--fix=lf'
      - id: check-docstring-first
      - id: check-case-conflict # Check for files with names that would conflict on a case-insensitive filesystem
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: ['--fix', '--exit-non-zero-on-fix']
