# Infrastructure
pip
wheel
watchdog
hatch
tox
coverage
Sphinx
twine
pytest
pre-commit
black
flake8
ipython

# Documentation
sphinx-autobuild
sphinx_rtd_theme
sphinxcontrib_mermaid
myst_parser
numpydoc

# Toolkit
wget
astropy
rich
specutils
pandas
matplotlib
numpy
scipy

# GUI
pyinstaller
pyqt5
pyqt5-sip
qt_material
pyqtgraph
screeninfo
bs4
psutil
PyOpenGL
qtconsole
sip
