/* Remove width restriction on content so that diagrams
   are more visible */
.wy-nav-content {
    max-width: 100%;
}

.wy-table-responsive table td, .wy-table-responsive table th {
   white-space: normal;
}

blockquote {
   padding-left: 6px;
   border-left: 3px solid #999;
}
